<div>
    <div class="mt-3">
        <div class="card text-white bg-secondary">
            <div class="card-body row">
                <p class="col-1">№</p>
                <p class="col">Название</p>
                <p class="col">Авторы</p>
                <p class="col-2">ISBN</p>
                <p class="col-2">Доступно</p>
            </div>
        </div>
        {% for book in books %}
        <div class="card">
            <div class="card-body row">
                <p class="col-1">{{ forloop.counter }}</p>
                <p class="col"><a href="{% url 'p_library:book_detail_url' book.slug %}">{{ book.title }}</a></p>
                <div class="col">
                    {% for author in book.author.all %}
                    <p>{{ author.full_name }} ({{ author.country }})</p>
                    {% endfor %}
                </div>
                <p class="col-2">{{ book.ISBN }}</p>
                <p class="col-2">XXX шт.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>