{% extends "p_library/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
    <h3>Добро пожаловать в библиотеку.</h3>
    <p>Тут собрано {{ book|length }} книг.</p>
    <div>
        <div class="mt-3">
            <div class="card text-white bg-secondary">
                <div class="card-body row">
                    <p class="col-1">№</p>
                    <p class="col">Название</p>
                    <p class="col-2">Авторы</p>
                    <p class="col-2">ISBN</p>
                    <p class="col-2">Экземпляров<br>всего / доступно</p>
                </div>
            </div>
            {% for book in book %}
            <div class="card">
                <div class="card-body row">
                    <p class="col-1">{{ forloop.counter }}</p>
                    <p class="col"><a href="{% url 'p_library:book_detail_url' book.slug %}">{{ book.title }}</a></p>
                    <div class="col-2">
                        {% for author in book.author.all %}
                        <p><a href="{% url 'p_library:author_detail_url' author.slug %}">{{ author.full_name }}</a> ({{ author.country }})</p>
                        {% endfor %}
                    </div>
                    <p class="col-2">{{ book.ISBN }}</p>
                    <p class="col-2">{{ book.books_copy.all|length}} / {{ book.available_copies }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>
{% endblock %}