<div>
    <table class="table table-bordered table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">ISBN</th>
                <th scope="col">Описание</th>
                <th scope="col">Год издания</th>
                <th scope="col">Автор</th>
                <th scope="col">Страна</th>
                <th scope="col">Издательство</th>
                <th scope="col">Кол-во экземпляров</th>
                <th scope="col">Добавить/ убавить</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ forloop.counter }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.year_release }}</td>
                <td>
                    {% for author in book.author %}
                        <p>{{ author.full_name }}</p>
                    {% endfor %}
                </td>
                <td>{{ book.country }}</td>
                <td>{{ book.publisher.name }}</td>
                <td>{{ book.copy_count }}</td>
                <td>
                    <form action="book_increment/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{book.id}}" />
                        <input type="submit" class="btn btn-light" value="+" />
                    </form>
                    <form action="book_decrement/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{book.id}}" />
                        <input type="submit" class="btn btn-light" value="-">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>