{% extends "p_library/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>
        <h3>Микропроект на замену сайта приюта кошек.</h3>
        <h2>Моя аптечка.</h2>
        <p>Проект по учету лекарст в домашней аптечке.</p>
        <p>Добавляем в базу список лекарств с указанием сроков годности.</p>
        <p>В следующий раз при оценке нового рецепта вы сможете понять, есть ли нужное лекарство у вас в аптечке? Воможн</p>
        
    </div>
    <br>
{% endblock %}