{% extends "p_library/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4 mb-4">
    <form method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Войти">
    </form>
    <div class="container">
        <a href="{% url 'p_library:register_user_url' %}"
            class="list-group-item-action">
            Хочу зарегистрироваться
    </a>
    </div>

    <div class="container">
        <a href="{% url 'p_library:auth_login_url' %}"
            class="list-group-item-action">
            Авторизоваться внешним сервисом
        </a>
    </div>

</div>
{% endblock %}