<div>
    <div class="mt-3">
        <div class="card text-white bg-secondary">
            <div class="card-body row">
                <p class="col-1">№</p>
                <p class="col">Имя</p>
                <p class="col">Дата рождения</p>
                <p class="col-2">Читательский билет</p>
                <p class="col-2">Примечания</p>
                <p class="col-2">Книг в пользовании</p>
            </div>
        </div>
        {% for user in users %}
        <div class="card">
            <div class="card-body row">
                <p class="col-1">{{ forloop.counter }}</p>
                <p class="col"><a href="#">{{ user.full_name }}</a></p>
                <p class="col">{{ user.birth_date }}</p>
                <p class="col-2">{{ user.library_card }}</p>
                <p class="col-2">{{ user.description }}</p>
                <p class="col-2">XXX шт.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>