{% extends "my_first_aid_kit/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% include 'my_first_aid_kit/navbar.html' %}{% endblock %}

{% block content %}
    <div>
        <h3>Микропроект на замену сайта приюта кошек.</h3>
        <h2>Моя аптечка.</h2>
        <p>Проект по учету лекарст в домашней аптечке.</p>
        <ol>
            <li>Отмечаем в базе список лекарств из своей аптечки с указанием сроков годности.</li>
            <li>Добавляем новый рецепт</li>
            <li>Проверяем информацию о наличии нужного лекарства в аптечке</li>
        </ol>
        <p>Быть может, у вас уже есть нужное лекарство</p>
        <p>Возможно в аптеке есть аналогичное лекарство получше/подешевле</p>
        <p>Возможно нужное лекарство есть у ваших друзей и они готовы поделиться</p>
        <p>А как насчет проверить, есть ли у вас в аптечке лекарство, например от головной боли?ы</p>
    </div>
    <br>
{% endblock %}