{% extends "my_first_aid_kit/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% include 'my_first_aid_kit/navbar.html' %}{% endblock %}

{% block content %}
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Проиводитель</th>
                <th scope="col">Действующие вещества</th>
                <th scope="col">Леканственная группа</th>
            </tr>
        </thead>
        <tbody>
            {% for medicament in medicaments %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ medicament.title }}</td>
                <td>{{ medicament.drugmaker }}</td>
                <td>
                    <p>
                    {% for active_substance in medicament.active_substance.all%}
                        {{ active_substance.title }},
                    {% endfor %}
                    </p>
                </td>
                <td>
                    {% for pharma_group in medicament.pharma_group.all%}
                        {{ pharma_group.title }},
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>








    <ul>

    </ul>
</div>
<br>
{% endblock %}