<div>
    <table class="table table-bordered table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                {% comment %} <th scope="col">Описание</th> {% endcomment %}
                <th scope="col">Страна</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher in publishers %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ publisher.name }}</td>
                {% comment %} <td>{{ publisher.description }}</td> {% endcomment %}
                <td>{{ publisher.country }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <p>Издательством представленны следующие книги:<br>
                        {% for book in publisher.books %}
                            - {{book}} <br>
                        {% endfor %}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>